## Задание 1
Создайте numpy array с элементами от числа N до 0 (например, для N = 10 это будет array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])).

In [4]:
import numpy as np

In [2]:
a =  np.array([7,6,5,4,3,2,1,0])

In [3]:
a

array([7, 6, 5, 4, 3, 2, 1, 0])

## Задание 2
Создайте диагональную матрицу с элементами от N до 0. Посчитайте сумму ее значений на диагонали.

In [6]:
?np.diag

In [7]:
b = np.diag(a)

In [9]:
sum_ = 0
for i in range(len(a)):
    sum_ += b[i][i]
print(sum_)

28

## Задание 3
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [11]:
import pandas as pd

In [20]:
data = pd.read_csv('ratings.csv')

In [36]:
data[['movieId','rating']].

   movieId  rating
0        1     4.0
1        3     4.0
2        6     4.0
3       47     5.0
4       50     5.0

In [50]:
filtered_data = data[data.rating == 5.0]

In [68]:
grouped_data = filtered_data['movieId'].value_counts().head(1)

## Задание 4
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [74]:
data_power = pd.read_csv('power.csv')

In [90]:
data_power[data_power['country'].str.contains('Litv')]

Empty DataFrame
Columns: [country, year, quantity, category]
Index: []

In [106]:
data_power_sorted = data_power[((data_power['country'] == 'Latvia')|(data_power['country'] == 'Lithuania')|(data_power['country'] == 'Estonia'))
          & ((data_power['category'] == 4)|(data_power['category'] == 12)|(data_power['category'] == 21))
          & ((data_power['year'] >= 2005)&(data_power['year'] <= 2010 ) 
          & data_power['quantity'] >= 0)]

In [112]:
data_power_sorted['quantity'].sum()

970605.0

## Задание 5
Решите систему уравнений:
4x + 2y + z = 4
x + 3y = 12
5y + 4z = -3

In [113]:
from numpy import linalg

In [115]:
a = np.array([[4,2,1],[4,3,0],[0,5,4]])

In [116]:
b = np.array([12,12,-3])

In [117]:
linalg.solve(a,b)

array([ 3.25      , -0.33333333, -0.33333333])

In [118]:
#Проверка
np.allclose(np.dot(a, linalg.solve(a,b)),b)

True